<% if current_user %>
  <h3>You're already logged in. If you would like to login as someone else, you must first <%= link_to 'log out', '/logout', method: :delete %></h3>
  <p>Click <%= link_to 'here', user_path(@current_user) %> to return to your home page.</p>
<% else %>
  <h1>Login</h1>
  <p>Welcome back!</p>
  <% if @bad_login %>
    <%= 'Invalid login' %>
  <% end %>
  <form method="post" action="login">
    <label>Email</label>
    <input type="email" name="email">

    <label>Password</label>
    <input type="password" name="password">

    <button>Login</button>
  </form>
  <p>Don't have an account? <%= link_to 'Sign up!', '/signup' %></p>
<% end %>
