<% if current_user %>
  <h2>Here's your profile information:</h2>
  <p>Name: <%= @current_user.first_name + ' ' + @current_user.last_name %></p>
  <p>Email: <%= @current_user.email %></p>

  <p>See your projects <%= link_to "here", "/projects" %>.</p>

  <form method="get" action="/profile_edit">
    <button>Edit Profile</button>
  </form>

  <form method="post" action="/logout">
    <input type="hidden" name="_method" value="DELETE">
    <button>Logout</button>
  </form>

  <form method="post" action="/delete_account">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete your account</button>
  </form>
<% else %>
  <h1>Sorry, but you have to <a href="/login">login</a> to see this page.</h1>
<% end %>
