// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.active {
  background: #FF8800;
}
.done {
  background: #22FF22;
}
.project {
  display: inline-block;
  vertical-align: top;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
}
.new-project {
  margin-bottom: 20px;
  text-align: left;
}
.new-post {
  font-size: 15px;
  margin: 2px 10px;
  padding: 4px;
  padding-right: 0;
}
.task {
  font-size: 24px;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}
.post {
  background: #44FFFF;
  border: 1px solid black;
  font-size: 18px;
  width: 100%;
  margin-left: 0;
  padding: 2px;
}
.new-task {
  margin-bottom: 20px;
}
.deadline {
  font-size: 15px;
}
.team {
  border: 1px solid black;
  background: white;
  display: inline-block;
  padding: 5px;
}
